<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="io.micronaut.context.condition" level="DEBUG"/>
    <logger name="io.micronaut.jackson" level="INFO"/>
    <!-- Netty -->
    <logger name="io.micronaut.http" level="INFO"/>
    <!-- Trace routes to endpoints -->
    <logger name="io.micronaut.web" level="TRACE"/>
    <!-- Trace SQL queries -->
    <logger name="io.micronaut.data.query" level="TRACE"/>
    <!-- Trace beans reflection -->
    <logger name="io.micronaut.core" level="TRACE"/>

</configuration>
